{% extends "dashboard/base.html" %}
{% load static %}

{% block container %}
    
    <ul class="list-unstyled" style="margin-bottom: 0;">
        <li class="media post-form w-shadow">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="media-body">
                    <div class="form-group post-input">
                        <textarea class="form-control" id="postForm" rows="2" placeholder="What's on your mind?" name="description"></textarea>
                    </div>
                    <div class="row post-form-group">
                        <div class="col-md-9">
                            <button type="button" class="btn btn-link post-form-btn btn-sm">
                                <label for="image">
                                    <img src="{% static 'dashboard/internal/assets/images/icons/theme/post-image.png' %}" alt="post form icon"> <span>Photo</span>
                                </label>
                                <input type="file" name="media" id="image" accept="image/*">
                            </button>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="submit" class="btn btn-primary btn-sm">Publish</button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul> 

{% endblock  %}
